.app {
  padding: 1rem;
}

.app ul.header {
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
}

.app .header li {
  display: inline-block;
  padding-right: 0.5rem;
}

.app .header a {
  padding: 0.2rem;
  text-decoration: none;
  color: black;
  border: none;
  border-bottom: 1px solid black;
}
